h1, span{
    color: brown;
    font-weight: 900;
    background-color: gainsboro;
}
body{
    background-color: mediumaquamarine;
}
li{
    color: brown;
    background-color: beige;
    inline-size: 70px;

}
p{
    color: gray;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;

}

#ttext{
    background-color: aliceblue;
    color: chocolate;

}
#copy1{
    color: cadetblue;
}
